version: "3"

services:
  api-gateway:
    image: api-gateway:v3
    container_name: api-g
    # build:
    #   context: ./apps/api-gateway
    #   dockerfile: Dockerfile.prod
    ports:
      - "3001:3001"
    environment:
      - port=3001
    networks:
      - backend-network
    depends_on:
      - auth
  auth:
    image: auth:v1
    container_name: auth-g
    # build:
    #   context: ./apps/auth
    #   dockerfile: Dockerfile.prod
    expose:
      - "5000"
    networks:
      - backend-network
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "5000"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
  prom-server:
    image: prom/prometheus
    ports:
      - 9090:9090
    volumes:
      - ./prometheus-config.yml:/etc/prometheus/prometheus.yml
    networks:
      - backend-network

  grafana-ui:
    image: grafana/grafana-oss
    ports:
      - 3002:3000
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge
